

<div id="container" class="grid">
  <div class="pin-sizer"></div>
  <div class="pin-gutter-sizer"></div>

  <div class="thumbnail pin" *ngFor="let offer of offers">
    <img src="images/cupcake.jpg" alt="cooking" />
    <div class="caption">
      <h3>{{offer.title}}</h3>
      <p>{{offer.description}}</p>
    </div>

      <table class="pricing">
        <tr>
          <td>
            <p>
              <a href="#" class="btn btn-primary btn-circle" role="button" [routerLink]="['/orderoffer', offer._id]">
                 <img src="images/fork2.png" class="fork1"/>
              </a>
            </p>
          </td>
          <td>
            <p>{{offer.price}}</p>
          </td>
        </tr>
      </table>
    <small><img class="img-circle pin-user" alt="profile" src="images/profile_picture.jpg"/> Dongkyoung</small>
  </div>

  <div class="thumbnail pin">
    <nav>
    <a routerLink="/addoffer" routerLinkActive="active">Add an offer1!</a>
  </nav>
  </div>


</div>

<script>
$(function(){
  $('.grid').masonry({
    // options
    itemSelector : '.pin',
    columnWidth : '.pin-sizer',
    gutter: '.pin-gutter-sizer',
    percentPosition: true,
    isAnimated: true,

  });
});
</script>
