

<div id="container" class="grid">
  <div class="pin-sizer"></div>
  <div class="pin-gutter-sizer"></div>

  <div class="thumbnail pin">
    <img src="images/cupcake.jpg" alt="cooking" />
    <div class="caption">
      <h3>Cupcake party!</h3>
      <p>Who wanna try my delicious cupcakes?</p>
      <p>
        <a href="#" class="btn btn-primary btn-circle" role="button"> <img src="images/fork2.png" class="fork1"/></a>
      </p>
    </div>
    <p>By Dongkyoung<img class="img-circle pin-user" alt="profile" src="images/profile_picture.jpg"/></p>
  </div>

  <div class="thumbnail pin">
    <img src="images/cupcake.jpg" alt="cooking" />
    <div class="caption">
      <h3>Cupcake party!</h3>
      <p>Who wanna try my delicious cupcakes?</p>
    </div>

    <table class="pricing">
      <tr>
        <td>
          <p>
            <a href="#" class="btn btn-primary btn-circle" role="button"> <img src="images/fork2.png" class="fork1"/></a>
          </p>
        </td>
        <td>
          <p>5$/pce</p>
        </td>
      </tr>
    </table>

    <small><img class="img-circle pin-user" alt="profile" src="images/profile_picture.jpg"/> Dongkyoung</small>
  </div>

</div>

<script>
$(function(){
  $('.grid').masonry({
    // options
    itemSelector : '.pin',
    columnWidth : '.pin-sizer',
    gutter: '.pin-gutter-sizer',
    percentPosition: true,
    isAnimated: true,

  });
});
</script>
