
.grid {

}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}


.pricing td {
    padding: 5px;
    text-align: left;
}

.img-brand {
	max-height:30px;
	width:auto;
	height:auto;
}

.pin-sizer,
.pin {
	width: 22%;
}

.pin-gutter-sizer {
	width: 4%;
}

.pin {
	border-radius: 25px;
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
}

.pin .pin-user {
	max-height:25px;
	width:auto;
	height:auto;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0px 0px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
